.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9; /* Light background for the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: #234f4a;
    font-size: 30px;
}

label {
    display: block;
    margin-top: 29px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block; /* Make the button a block element */
    width: 100%; /* Full width for better alignment */
    margin: 15px auto; /* Center the button */
    padding: 10px 15px;
    background-color: #286e5d; /* Preferred color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #234f4a; /* Darker shade for hover effect */
}

.login-link {
    text-align: center;
    margin-top: 15px;
}
